@import "tailwindcss";
@plugin "daisyui";

body {
  overflow-x: hidden !important;
}

p,
li,
a {
  font-family: "Roboto", sans-serif;
}

/* ========================================================================= */
/* conatct us Section */
.univarsal_div {
  /* background: #060044; */
  padding-top: 7.9rem;
  padding-bottom: 2.5rem;
}

.univarsal_text_div {
  color: var(--text-color);
  padding-bottom: 2.3rem;
}

.univarsal_text_div h1 {
  color: #fff;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  padding-right: 1.5rem;
}

.contactus_text_section {
  margin-top: 2rem;
}

.contactus_text_div {
  color: var(--text-color);
  padding-left: 0.9rem;
  padding-top: 2rem;
}

.contactus_text_heading {
  font-family: var(--font-main);
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.9rem;
  text-align: left;
  margin-bottom: 1.5rem;
}

.contactus_text_para {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: left;
  margin-right: 6.5rem;
}

.contactus_Services {
  display: flex;
  margin: 2rem 0rem;
}

.contactus_Services_icon_div .contactus_Services_icon {
  background: linear-gradient(225deg,
      #18c8ff 14.89%,
      rgba(198, 8, 255, 0.79) 85.85%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.7rem 0rem 0.7rem 0rem;
  position: relative;
  margin-bottom: 1.7rem;
  color: var(--text-color);
}

.contactus_Services_icon:nth-last-child(1) {
  margin-bottom: 0rem;
}

.contactus_Services_icon .contactus_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
}

.contactus_Services_text_div {
  margin-left: 1.2rem;
}

.contactus_Services_text {
  margin-bottom: 2.3rem;
}

.contactus_Services_text:nth-last-child(1) {
  margin-bottom: 0rem;
}

.contactus_Services_text p {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

/* contact us form data  */
.error-message {
  color: red;
}

.meassageSentbtn {
  height: 50px;
  background: linear-gradient(225deg,
      #18c8ff 14.89%,
      rgba(198, 8, 255, 0.79) 85.85%);
  color: white;
  padding: 10px 60px;
  margin: 8px 0;
  border: none;
  font-size: 20px;
  border-radius: 30px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1rem;
  box-shadow: 0px 4px 19.8px 0px rgba(5, 5, 5, 0.3), #c508ff 0px 1px 1px 0px,
    #18c9ff 1px 0px 1px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.react-tel-input .country-list {
  width: 386px;
}

.react-tel-input .country-list,
.react-tel-input .country-list .search {
  background-color: rgb(6, 0, 66);
  border-radius: 5px;
  margin: 1px 0 10px -2px;
}

.react-tel-input .country-list .search {
  box-shadow: 0px 4px 19.8px 0px rgba(5, 5, 5, 0.3), #c508ff 0px 1px 1px 0px,
    #18c9ff 1px 0px 1px 1px;
}

.react-tel-input .country-list .search-box {
  width: 344px !important;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
}

/* Default gradient text style for country name and dial code */
.react-tel-input .country-list .country-name,
.react-tel-input .country-list .dial-code {
  margin-right: 6px;
  background: linear-gradient(241deg, #18c8ff 14.59%, #c608ff 59.76%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
}

.meassageSentbtn img {
  width: 25px;
  height: 25px;
}

.success-message {
  color: green;
}

.contactus_input_fild_div {
  position: relative;
}

.contactUsCenterGradientRoundedPosition {
  position: absolute;
  left: 20px;
  top: 21px;
}

.contactus_input_section {
  box-sizing: border-box;
  background: linear-gradient(180deg,
      rgba(24, 200, 255, 0.2) 0%,
      rgba(24, 200, 255, 0) 100%);
  border-radius: 30px;
  padding: 2.5rem 2.1rem;
  position: relative;
  z-index: 15;
  box-shadow: rgba(6, 0, 68, 0.25) 0px 54px 55px,
    rgba(6, 0, 68, 0.12) 0px -12px 30px, rgba(6, 0, 68, 0.12) 0px 4px 6px,
    rgba(6, 0, 68, 0.17) 0px 12px 13px, rgba(6, 0, 68, 0.09) 0px -3px 5px;
  margin-right: 2rem;
  margin-left: 2rem;
  backdrop-filter: blur(80px);
}

.contactus_input_section h3 {
  font-family: var(--font-main);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
  margin-bottom: 1.8rem;
}

.contactus_input_fild {
  font-family: var(--font-main);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-sizing: border-box;
}

.react-tel-input {
  padding: 0rem;
}

.react-tel-input .form-control {
  width: 100%;
  height: 2.9rem;
  border-radius: 1rem;
  outline: none;
  border: 1px solid #ccc;
}

.react-tel-input .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

.react-tel-input .flag-dropdown {
  border-radius: 1rem 0rem 0rem 1rem;
}

.react-tel-input .selected-flag {
  border-radius: 1rem 0rem 0rem 1rem;
}

input[type="submit"] {
  height: 50px;
  background: linear-gradient(225deg,
      #18c8ff 14.89%,
      rgba(198, 8, 255, 0.79) 85.85%);
  color: white;
  padding: 10px 60px;
  margin: 8px 0;
  border: none;
  font-size: 20px;
  border-radius: 30px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1rem;
  box-shadow: 0px 4px 19.8px 0px rgba(0, 0, 0, 0.3), #c508ff 0px 1px 1px 0px,
    #18c9ff 1px 0px 1px 1px;
}

input[type="submit"]:hover {
  background: var(--Transparent-bg-1,
      linear-gradient(180deg,
        rgba(24, 200, 255, 0.2) 0%,
        rgba(24, 200, 255, 0) 100%));
  transition: all 0.05s;
}

textarea {
  font-family: var(--font-main);
  width: 100%;
  height: 150px;
  color: gray;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  resize: none;
}

.react-tel-input .country-list .search-emoji {
  display: none;
}

.react-tel-input .country-list .search-box {
  border: 2px solid #cacaca;
  width: 250px;
}

/* ============================= */


/* Custom Swiper pagination styles */

.swiper-pagination-bullet-active {
  background-color: #03b00b !important;
}