@import "tailwindcss";
@import "tw-animate-css";

html {
  position: relative;
}

@custom-variant dark (&:is(.dark *));
@plugin "daisyui";

body {
  overflow-x: hidden !important;
}

p,
li,
a {
  font-family: "Roboto", sans-serif;
}

/* Custom Swiper pagination styles */

.swiper-pagination-bullet-active {
  background-color: #03b00b !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 25px !important;
  color: #00b33d !important;
}

.tooltip-success[data-tip]:before {
  color: #495464;
  background-color: white;
  border: 1px solid #E5E7EB;
  border-radius: 2px;
}

.tooltip:after {
  background-color: #E5E7EB;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@keyframes pulse-ring {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }

  50% {
    transform: scale(1.8);
    opacity: 0.1;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.animation-delay-500 {
  animation-delay: 0.5s;
}

.animation-delay-1000 {
  animation-delay: 1s;
}