@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui";

body {
  overflow-x: hidden !important;
}

p,
li,
a {
  font-family: "Roboto", sans-serif;
}

/* Custom Swiper pagination styles */

.swiper-pagination-bullet-active {
  background-color: #03b00b !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 25px !important;
  color: #00b33d !important;
}

.tooltip-success[data-tip]:before {
  color: #495464;
  background-color: white;
  border: 1px solid #E5E7EB;
  border-radius: 2px;
}

.tooltip:after {
  background-color: #E5E7EB;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}